/* COLOR PALLETE
https://coolors.co/482728-b88e8d-255957-f0f7ee-eeebd3
DARK SIENNA:        482728
ROSY BROWN:         B88E8D     
DARK SLATE GRAY:    255957
MINT CREAM:         F0F7EE
BEIGE:              EEEBD3 
*/

/* GLOBAL STYLES
---------------------------------------------------*/

img {
    width: 300px;
}

/* PROFILE SECTION
---------------------------------------------------*/

/* PROJECTS SECTION
---------------------------------------------------*/

/* WORK EXP. SECTION
---------------------------------------------------*/

/* EDUCATION SECTION
---------------------------------------------------*/

/* CONTACT SECTION
---------------------------------------------------*/