/* COLOR PALLETE - Version 1
https://coolors.co/3a3335-678d58-ece2d0-6d9dc5-ce6c47

TERRA COTTA:            #ED6A5A
CERULEAN FROST:         #6D9DC5
BONE:                   #ECE2D0
RUSSIAN GREEN:          #678D58
BLACK COFFEE:           #3A3335
DARK PURPLE:            #310A31 */

/* COLOR PALLETE - Version 2
https://colorhunt.co/palette/911f27630a10fcf0c8face7f 
https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097

FCF0C8      BEIGE
D7E9F7      LIGHT BLUE
E98580      SALMON PINK
3A3335      BLACK COFFEE



/* GLOBAL STYLES
---------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header, footer {
    text-align: center;
}

header {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-me {
    background-color: rgba(215, 233, 247, 0.7);
    border-radius: 30px;
}

.about-me p {
    padding-left: 20px;
    padding-right: 20px;
}

body {
    color: #3A3335;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #3A3335;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Ephesis', cursive;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}

.items-details h3 + p {
    font-style: italic;
}

.items-details h3 ~ p {
    margin: 0;
}

/* PROFILE SECTION
---------------------------------------------------*/
header {
    background-color: #6D9DC5;
}

.navigation {
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 5%;
    padding-top: 10px;
}

.navigation ul li {
    list-style-type: none;
    line-height: 2;
}

.navigation a {
    color: #3A3335;
}

.navigation a:hover {
    color: #D7E9F7;
}

.navigation a:active {
    background-color: #D7E9F7;
}

/* Modal */

.button:hover {
    color: #E98580;
}

.myModal {
    display: none;
}

.myModal:target {
    display: block;
}

/* PROJECTS SECTION
---------------------------------------------------*/
.projects {
    background-color: #FACE7F;
}

.projects .btn {
    background-color: #6D9DC5;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: rgba(109, 157, 197, 85%)
}

.project-item {
    overflow: hidden;
    background-color: #E98580;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 40px;
}

.project-item h3 {
    margin-top: 0;
}

/* WORK EXP. SECTION
---------------------------------------------------*/
.work-exp {
    background-color: #E98580;
}

.job-item {
    background-color: #FACE7F;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 40px;
}

/* EDUCATION SECTION
---------------------------------------------------*/
.education {
    background-image: url(../images/education.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.education p {
    width: 60%;
}

.education-info {
    background-color: rgba(215, 233, 247, 0.7);
    border-radius: 30px;
    padding-left: 40px;
}



.education-info ul li {
    list-style-type: none;
}

/* CONTACT SECTION
---------------------------------------------------*/
footer {
    background-color: #D7E9F7;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* RESPONSIVE STYLES
---------------------------------------------------*/

@media screen and (min-width: 750px) {

    .menu-button {
        display: none;
    }

    .myMenu {
        display: none;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .education-info h3 ~ p {
        line-height: .5;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px){

    .navigation {
        display: none;
    }

    .menu-button:hover {
        color: #E98580;
    }
    
    .myMenu {
        display: none;
    }
    
    .myMenu:target {
        display: block;
    }

    .inner-menu ul {
        padding-inline-start: 0;
    }

    .inner-menu ul li {
        list-style-type: none;
    }
    
    .project-item img {
        width: 200px;
    }

    .education {
        line-height: 2;
    }

    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }

    .contact-list a {
        padding: 5px;
    }

    
}