/* COLOR PALLETE
https://coolors.co/3a3335-678d58-ece2d0-6d9dc5-ce6c47

TERRA COTTA:            #ED6A5A
CERULEAN FROST:         #6D9DC5
BONE:                   #ECE2D0
RUSSIAN GREEN:          #678D58
BLACK COFFEE:           #3A3335
DARK PURPLE:            #310A31

*/

/* GLOBAL STYLES
---------------------------------------------------*/
body {
    color: #3A3335;
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

a {
    color: #310A31;
}

a:hover {
    text-decoration: none;
}

h2 {
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* PROFILE SECTION
---------------------------------------------------*/
header {
    background-color: #6D9DC5;
}

/* PROJECTS SECTION
---------------------------------------------------*/
.projects {
    background-color: #ECE2D0;
}

.projects a {

}

.projects .btn {
    background-color: #6D9DC5;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: rgba(109, 157, 197, 85%)
}


/* WORK EXP. SECTION
---------------------------------------------------*/
.work-exp {
    background-color: #ED6A5A;
}

/* EDUCATION SECTION
---------------------------------------------------*/

/* CONTACT SECTION
---------------------------------------------------*/
footer {
    background-color: #678D58;
    color: #ECE2D0;
}


footer ul li {
    list-style-type: none;
}

footer ul li .contact {
    text-decoration: none;
    color: #310A31;
}

footer ul li .contact:hover {
    text-decoration: none;
    color: rgba(49, 10, 49, 85%)
}